


<h3><%= link_to @watchlist.title, edit_watchlist_path(@watchlist) %></h3>
<%= button_to "delete", @watchlist, :method => :delete %>

<table>
  <tr>
    <th>Show </th>
    <th>Genre </th>
    <th>Type </th>
  </tr>
  
    <%= render @shows %><br>

</table>
