<h3>Welcome to the Streaming Watchlist Ap</h3>

<% if logged_in? %>
  <%= render '/watchlists/index' %>
  <p><%= link_to 'Create New Watchlist', new_watchlist_path %><p>
    link to add new show
<% end %>
