<h3>Welcome to the Streaming Watchlist Ap</h3>

<% if logged_in? %>
  <%= render '/watchlists/index' %>
  <p><%= link_to 'Create New Watchlist', new_watchlist_path %></p>
  <p><%= link_to 'Add New Show', new_show_path %></p>
<% end %>
